@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:ital,wght@1,200&family=Raleway:wght@300&display=swap');

body{
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: rgb(45,1,1);
  background: linear-gradient(90deg, rgba(45,1,1,1) 0%, rgba(18,9,9,1) 35%, rgba(0,0,0,1) 100%);
  backdrop-filter: blur(6px);

}

.bg-gradient{
  background-image: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}


.border-bottom{
  border-bottom: 1px solid gray;
}


.test{
  display: flex;
}


.container{
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 100px auto;
  width: 1400px;
  max-width: 100%;
}

.containernavbar{
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 50px auto;
  width: 1400px;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 20px auto;;
  }
}

.border-radius{
  border-radius: 10px 10px 0 0;
}


@keyframes growUpAnimation {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.animate-growUpBlock {
  animation: growUpAnimation 0.5s ease-out;
}




